$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700');

$hover : #fb8989;

body, input, textarea, div, span {
    font: 600 14px 'Quicksand', sans-serif;
}

button {
    outline: none;
}

body {
    background: #314355;
}

.logo {
    width: 120px;
    height: 120px;
    padding: 40px 0;
    background: #1d2936;
    border-radius: 50%;
    margin-top: 10%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.platform-holder {
    margin-top: 10%;
    background: #fff;
    width: 100%;
    height: 85vh;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    position: relative;
    margin-bottom: 20px;


    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    .platform-nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(21, 39, 57, 0.75);
        z-index: 99999;
        display: none;

        #closeMenu {
            margin-top: 10px;
            margin-right: 10px;
            position: absolute;
            right: 10px;
            top: 10px;

            &:hover {
                color: $hover;
            }
        }

        ul {
            padding: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            li {
                display: block;
                text-align: center;
                padding: 5px;
                font: 700 14px 'Open Sans', sans-serif;
                text-transform: capitalize;
                cursor: pointer;
                width: auto;
                position: relative;

                ul {
                    display: none;
                    background: $hover;
                    margin-bottom: -50px;
                    z-index: 999999999;

                    li {
                        font-size: 12px;
                        color: #fff;

                        a {
                            text-decoration: none;
                        }

                        &:hover {
                            color: #ff8d6a;
                        }

                    }
                }

                i {
                    margin-right: 5px;
                }

                &:hover {
                    color: $hover;
                }
            }
        }
    }

    .platform-header {
        background: #1d2936;
        width: 100%;
        padding: 15px 10px 15px 10px;
        z-index: 9999999;

        #channel_title {
            text-transform: capitalize;
        }
    }

    .platform-body {
        color: #000;
        padding: 10px 10px 0px 10px;
        overflow-y: auto;
        height: calc(100% - 35px);

        &.newsfeed-module {
            height: calc(100% - 90px);
        }

        ul {
            padding: 0 0 70px 0;

            li {
                list-style: none;
                display: inline-block;
                width: 100%;
                float: none;
                padding-top: 15px;

                &.me {
                    padding-top: 0px !important;
                }

                .avatar {
                    float: left;
                    width: 30px;
                    height: 30px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 10px;

                    &.me {
                        float: right;
                        margin-left: 10px;
                        display: none;
                    }

                    &.announce {
                        display: none;
                    }

                    img {
                        max-width: 100%;
                    }
                }

                .message {
                    background: #6a7784;
                    width: auto !important;
                    padding: 10px;
                    color: #fff;
                    border-radius: 20px;
                    max-width: 70%;
                    font-size: 12px;
                    float: left;

                    &.announce {
                        background: #fff;
                        float: none;
                        width: 100%;
                        text-align: center;
                        font-size: 12px;
                        color: #6a7784;
                        max-width: 100%;

                        div {
                            display: none;
                        }
                    }

                    div {
                        margin-top: -25px;
                        float: left;
                        color: #687887;
                        font-size: 12px;
                        margin-left: 5px;
                    }

                    &.me {
                        background: #1d2936 ;
                        float: right;

                        div {
                            float: right;
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .platform-footer {
        position: absolute;
        bottom: 30px;
        background: #fff;
        padding: 10px;
        width: 90%;
        left: 5%;
        border-radius: 30px;
        box-shadow: 0px 0px 8px rgba(65, 100, 133, 0.4);

        &.transparent {
            box-shadow: none;
            background: transparent;

            button {
                color: #fff;
                padding: 10px 20px;
                border: 0;
                border-radius: 20px;
                background: #314355;

                &.rounded {
                    border-radius: 50%;
                    padding: 10px 12px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                }
            }
        }

        &.app-internal {
            box-shadow: none;
            background: transparent;
            bottom: -13px;
            color: #000;

            button {
                color: #fff;
                padding: 10px 20px;
                border: 0;
                border-radius: 20px;
                background: #314355;

                &.newsfeed-post {
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    margin-bottom: 20px;
                }

                &.rounded {
                    border-radius: 50%;
                    padding: 10px 12px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                }
            }

            ul {
                padding: 0;
                text-align: center;

                li {
                    display: inline;
                    list-style: none;
                    font-size: 20px;
                    color: #a3a3a3;
                    padding-top: 8px;

                    &.active {
                        border-top: 3px solid #1d2936;
                        color: #1d2936;
                    }

                    &:not(:last-child) {
                        margin-right: calc(100% / 8);
                    }
                }
            }
        }

        #send_convo {
            padding: 10px;
            width: 35px;
            height: 35px;
            font-size: 12px;
            background: #6a7a89;
            border-radius: 50%;
            margin-right: 10px ;
        }

        textarea {
            background: transparent;
            border: none;
            color: #6a7a89;
            width: 100%;
            resize: none;
            height: 30px;
            font-size: 12px;
            padding-top: 10px;
            outline: none;
        }
    }
}

.sign_in_holder {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(21, 39, 57, 0.90);
    z-index: 99999;
    color: #fff;
    padding-top: 50%;
    display: none;
}

.newsfeed-holder {
    display: block;

    &:first-child {
        margin-bottom: 10px !important;
    }

    .newsfeed-desc {
        margin-left: -25px;
        width: calc(100% + 50px);

        .user_info {
            margin-top: 5px;
        }

        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        small {
            font-size: 12px;
            display: block;
            margin-top: -3px;
            color: #a3a3a3;
        }
    }

    .newsfeed-option {
        margin-top: 15px;

        i {
            margin-left: 10px;
        }
    }

    .newsfeed-image {
        margin: 10px 0 0 0;
        padding: 0;
        margin-left: -25px;
        width: calc(100% + 50px);
    }

    .newsfeed-action {
        margin-left: -25px;
        width: calc(100% + 50px);

        ul {
            padding: 0;
            margin-top: 10px;
            color: #a3a3a3;
            text-align: center;
            margin-bottom: 10px;

            li {
                display: inline;
                font-size: 12px;
                text-align: center;
                padding: 10px 0;
                &:not(:last-child) {
                    padding-right: calc(100% / 7);
                }

                &:hover {
                    color: #1d2936;
                }
            }
        }
    }
}

a {
    color: inherit;
}

.form-group  {
    label {
        font-size: 12px;
    }

    .form-control {
        border-radius: 15px;
    }
}

.btn {
    border-radius: 15px;
    font-weight: 700;
}

img {
    max-width: 100%;
}

textarea {
    resize: vertical;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .platform-holder {
        margin-top: -2px;
        height: 97vh;
        width: 100%;
        border-radius: 0px;
    }

    .row, .container {
        margin: 0;
        width: 100%;
        padding: 0px !important;
    }

    body, html {
        margin: 0;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .outer-platform {
        padding: 0;
    }

    #send_convo {
        float: right !important;
        margin-right: -5px !important;

    }
}
