<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1d2936">
    <link rel="icon" sizes="192x192" href="/images/icon.png">

    <title>Backpack</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

     <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        <div class="row">
            <div class="outer-description col-md-offset-1 col-md-4">
            </div>

            <div class="outer-platform col-md-offset-1 col-md-4">
                <div class="platform-holder">
                    <div class="platform-nav animated">
                        <div id="closeMenu"><i class="glyphicon glyphicon-remove pull-right"></i></div>
                        <ul id="main_nav">
                            <li>
                                <i class="glyphicon glyphicon-tags"> </i> Channels

                                <ul id="load_existing_channel">
                                </ul>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-comment"> </i> Collabs
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-user"> </i> Teams
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-cog"> </i> Setting
                            </li>
                        </ul>
                    </div>

                    <div class="platform-header">
                        <div class="row">
                            <div class="col-md-2 col-xs-2">
                                <i id="toggleMenu" class="glyphicon glyphicon-menu-hamburger"></i>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <center><strong id="channel_title">DevChat</strong></center>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <i class="glyphicon glyphicon-search pull-right"></i>
                            </div>
                        </div>
                    </div>

                    <div class="platform-body">
                        <ul id="convo_holder">

                        </ul>
                    </div>

                    <div class="platform-footer">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-8 col-xs-8">
                                <textarea placeholder="Type Your Message Here."></textarea>
                            </div>

                            <div class="col-md-3 col-xs-4">
                                <div id="send_convo" class="pull-right"><i class="glyphicon glyphicon-send"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="tempConvo" type="text/x-handlebars-template">
        <li data-key="{{ key }}" class="{{ sender }}">
            <div class="avatar {{ sender }}"><img src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif" alt=""></div>
            <div class="message {{ sender }}">
                <div>{{ from }} · <small>{{ ago }}</small>{{{ place }}}</div>
                {{ message }}
            </div>
        </li>
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <script src="/bower_components/lz-string/libs/lz-string.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
