<div class="platform-footer app-internal">
    <center>
        
        <ul>
            <li class="active"><i class="glyphicon glyphicon-map-marker"></i></li>
            <li><i class="glyphicon glyphicon-user"></i></li>
            <li><i class="glyphicon glyphicon-tree-deciduous"></i></li>
            <li><i class="glyphicon glyphicon-bell"></i></li>
            <li><i class="glyphicon glyphicon-menu-hamburger"></i></li>
        </ul>
    </center>
</div>
