<div class="platform-holder newsfeed-module">
    <div class="platform-nav animated">
        <div id="closeMenu"><i class="glyphicon glyphicon-remove pull-right"></i></div>
        <ul id="main_nav">
            <li>
                <i class="glyphicon glyphicon-tags"> </i> Channels

                <ul id="load_existing_channel">
                </ul>
            </li>
            <li>
                <i class="glyphicon glyphicon-comment"> </i> Collabs
            </li>
            <li>
                <i class="glyphicon glyphicon-user"> </i> Teams
            </li>
            <li>
                <i class="glyphicon glyphicon-cog"> </i> Setting
            </li>
        </ul>
    </div>

    <div class="platform-header">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <i id="toggleMenu" class="glyphicon glyphicon-menu-hamburger"></i>
            </div>
            <div class="col-md-8 col-xs-8">
                <center><strong id="channel_title">Compose</strong></center>
            </div>

        </div>
    </div>

    <div class="platform-body newsfeed-module">
        <form id="compose">
            <div class="form-group col-md-12">
                <label for="">Title</label>
                <input type="text" class="form-control" ng-model="compose.title" placeholder="Journey to Samal Island">
            </div>

            <div class="form-group col-md-8 col-xs-8">
                <label for="">Location</label>
                <input type="text" class="form-control" ng-model="compose.location" placeholder="Samal Island">
            </div>

            <div class="form-group col-md-4 col-xs-4">
                <label for="">Photo</label>
                <label class="btn btn-primary btn-file">
                    Browse <input type="file" style="display: none;">
                </label>
                <img src="" alt="" class="hide">
            </div>

            <div class="form-group col-md-12">
                <label for="">Content</label>
                <textarea name="" id="" cols="30" rows="10" ng-model="compose.content" class="form-control"></textarea>
            </div>

            <div class="form-group col-md-12">
                <label for="">Tags</label>
                <input type="text" class="form-control" ng-model="compose.tags" placeholder="Journey to Samal, Samal Island, Budget">
            </div>

            <center>
                <button class="btn btn-success" ng-click="post()">Post</button>
                <a href="#!/newsfeed"><button class="btn btn-danger">Cancel</button></a>
            </center>
            <br/><br/>
        </form>
    </div>

    <div ng-include="'views/bottom_tabs.html'"></div>
</div>
