<div class="platform-holder">
    <div class="platform-header">
        <div class="row">
            <div class="col-md-2 col-xs-2">

            </div>
            <div class="col-md-8 col-xs-8">
                <center><strong id="channel_title">Login</strong></center>
            </div>
            <div class="col-md-2 col-xs-2">

            </div>
        </div>
    </div>

    <div class="platform-body">
        <div class="sign_in_holder">
            <form id="sign_up_form">
                <div class="form-group col-md-12">
                    <div ng-show="si_errors" style="z-index: 99999;">
                        <center>
                            <div class="label label-danger" style="display: block;" ng-repeat="(k , v) in si_errors"><small>{{ v }}</small></div>
                        </center>
                        <br/><br/>
                    </div>

                    <label for="">Username</label>
                    <input type="text" class="form-control" name="username" ng-model="si_username" data-rules="required" placeholder="JuanDTraveller"/>
                </div>

                <div class="form-group col-md-12">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" ng-model="si_password" data-rules="required" placeholder="P@$$w0rd"/>
                </div>

                <center><button ng-click="submitSignIn()" class="btn btn-success">Sign Up</button> <button ng-click="toggleSignInView()" class="btn btn-danger">Back</button></center>
            </form>
        </div>

        <form id="sign_up_form">
            <div ng-show="su_errors">
                <center>
                    <div class="label label-danger" style="display: block;" ng-repeat="(k , v) in su_errors"><small>{{ v }}</small></div>
                </center>
                <br/>
            </div>

            <div class="form-group col-md-6 col-xs-6">
                <label for="">First Name</label>
                <input type="text" class="form-control" name="fname" data-rules="required" ng-model="reg.fname" placeholder="Juan" />
            </div>

            <div class="form-group col-md-6 col-xs-6">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="lname" data-rules="required" ng-model="reg.lname" placeholder="Dela Cruz"/>
            </div>

            <div class="form-group col-md-12">
                <label for="">E-mail</label>
                <input type="text" class="form-control" name="email" data-rules="required|email" ng-model="reg.email" placeholder="juan@gmail.com"/>
            </div>

            <div class="form-group col-md-12">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" data-rules="required" ng-model="reg.username" placeholder="JuanDTraveller"/>
            </div>

            <div class="form-group col-md-12">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" data-rules="required" ng-model="reg.password" placeholder="P@$$w0rd"/>
            </div>

            <center><button id="sign_up_btn" ng-click="submitSignUp()" class="btn btn-success">Sign Up</button></center>
        </form>
    </div>

    <div class="platform-footer transparent">
        <center><button id="sign_in_show" ng-click="toggleSignInView()">Sign In</button></center>
    </div>
</div>
