<div class="platform-holder newsfeed-module">
    <div class="platform-nav animated">
        <div id="closeMenu"><i class="glyphicon glyphicon-remove pull-right"></i></div>
        <ul id="main_nav">
            <li>
                <i class="glyphicon glyphicon-tags"> </i> Channels

                <ul id="load_existing_channel">
                </ul>
            </li>
            <li>
                <i class="glyphicon glyphicon-comment"> </i> Collabs
            </li>
            <li>
                <i class="glyphicon glyphicon-user"> </i> Teams
            </li>
            <li>
                <i class="glyphicon glyphicon-cog"> </i> Setting
            </li>
        </ul>
    </div>

    <div class="platform-header">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <i id="toggleMenu" class="glyphicon glyphicon-menu-hamburger"></i>
            </div>
            <div class="col-md-8 col-xs-8">
                <center><strong id="channel_title">Newsfeed</strong></center>
            </div>
            <div class="col-md-2 col-xs-2">
                <i class="glyphicon glyphicon-search pull-right"></i>
            </div>
        </div>
    </div>

    <div class="platform-body newsfeed-module">
        <div ng-repeat="(key, value) in newsfeed">
            <div class="col-md-12 newsfeed-holder">
                <div class="col-md-12 newsfeed-desc">
                    <img class="pull-left" src="https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif" alt="">

                    <div class="pull-left user_info">
                        Carlo Flores
                        <small>{{ value.location }}</small>
                    </div>

                    <div class="pull-right newsfeed-option">
                        <small>45m <i class="glyphicon glyphicon-option-vertical"></i></small>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="newsfeed-image">
                    <img src="{{ value.photo | decompress }}" alt="">
                </div>

                <!-- <div class="col-md-12 newsfeed-action">
                    <ul>
                        <li><i class="glyphicon glyphicon-thumbs-up"></i> Like</li>
                        <li><i class="glyphicon glyphicon-comment"></i> Comment</li>
                        <li><i class="glyphicon glyphicon-retweet"></i> Share</li>
                    </ul>
                </div> -->

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="platform-footer app-internal">
        <center><a href="#!/compose"><button class="newsfeed-post"><i class="glyphicon glyphicon-plus"></i></button></a></center>
        <br/><br/>
    </div>
    <div ng-include="'views/bottom_tabs.html'"></div>
</div>
